Content/Assets/Characters/*
!Content/Assets/Characters/.gitkeep
INF_3910.code-workspace
Binaries
DerivedDataCache
Intermediate
Saved
.clangd
.clang-format
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ForestLandscape
Content/PN_interactiveSpruceForest
Content/RP_Vol_01
Content/Stylized_PBR_Nature
Config/DefaultEngine.ini