Content/Assets/Characters/*
!Content/Assets/Characters/.gitkeep
INF_3910.code-workspace
Binaries
DerivedDataCache
Intermediate
Saved
.clangd
.clang-format
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace